{% extends 'main.html' %}

{% block content %}
<h3>Product Info</h3>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Brand</td>
                    <td>Vendor</td>
                </tr>
                {% for u in products %}
                <tr>
                    <td>{{u.tx_product_name}}</td>
                    <td>{{u.id_brand}}</td>
                    <td>{{u.id_vendor}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}