{% extends 'main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card card-body">
            
            <h4 class="text-center">
                <a href="{% url 'home' %}" class="btn btn-dark">
                    <i class="fa fa-arrow-circle-left"></i>
                    Go Back</a>
                <strong>Color and Photo</strong>
            </h4>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form_one.as_p }}
                <hr>
                {{ formset.as_p }}
                
                {{ formset.management_form }}
                <input class="btn btn-success" type="submit" name="Submit" value="Save">
                <a class="btn btn-info" href="{% url 'home' %}">Come Back</a>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock content %}