{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br>
        <br>
        <div class="card">
            <div class="card-header text-center" style="background: linear-gradient(45deg, #417690, #70ccfa);">
                <div style="font-size: 100px; color: white;">
                    <i class="fa fa-user-circle"></i>
                </div>
                
                <!-- <img src="{% static 'images/log-login.png' %}" class="card-img-top"> -->
                <h2 style="color: whitesmoke;"><strong>Welcome Admin!</strong></h2>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    {% if form.username.errors.error_messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}    
                        <label for="exampleInputEmail1">User Name</label>
                        {{ form.username }}
                      <!-- <input type="text" class="form-control" id="username"> -->
                      <small id="emailHelp" class="form-text text-muted">please enter the user data.</small>
                    
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      {{ form.password }}
                      <!-- <input type="password" class="form-control" id="password"> -->
                    </div>
                    <button type="submit" class="btn btn-block" 
                    style="background: linear-gradient(45deg, #417690, #70ccfa); color: whitesmoke;">
                    <strong>Login</strong></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

    
{% endblock content %}
    