{% extends 'main.html' %}

{% block content %}
<h3 class="text-center mt-3">Product Deta	ils</h3>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Product:</h5><strong>{{product.id_product}}</strong>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Color & Photo</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Color & Photo</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Sizes:</h5>
			<h6><strong>
				{% for s in sku %}
					{{s.id_size}},
				{% endfor %}
				</strong></h6>
			<hr>
			<h5>Price: </h5>
			<h6>$<strong>
				{{first.price}}
			</strong></h6>
				
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Number of Sizes</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ sku_count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm text-center">
				<tr>
					<th>Images</th>
					<th>Product</th>
					<th>Color</th>
					<th>Actions</th>
				</tr>
				
				<tr>
					<td>
					{% for p in photo %}
						<img src="{{ p.tx_url_photo.url }}" style="width: 100px;">
					{% endfor %}
					</td>
					<td>{{product.id_product}}</td>
					<td>{{product.id_color}}</td>
					<td>
						<a href="" class="btn btn-success">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
					</td>
				</tr>
					

			</table>
		</div>
	</div>
</div>

{% endblock content %}